.card-cadastro-usuario {
  width: 40%;
  margin: 10% auto;
  padding: 5% 6.5%;
  box-sizing: border-box;

  form {
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      width: 40%;
      font-weight: 600;
      font-size: 1rem;
      font-family: 'lato';

      &:hover {
        background-color: #2196f3;
        transition: 250ms;
        color: #fff;
      }
    }
  }
}
