<mat-card class="card-cadastro-usuario">

  <h1>Cadastro</h1>
  <form
    action="/submit-form"
    method="post"
    [formGroup]="cadastroUsuarioFormulario"
    (submit)="cadastrarUsuario()"
  >
    <mat-form-field appearance="fill" class="form-cadastro-usuario">
      <mat-label>Nome Completo</mat-label>
      <input
        matInput
        type="text"
        formControlName="nomeUsuario"
        pattern="[a-zA-Z ]*"
        autofocus
      />
      <small
        *ngIf="
          cadastroUsuarioFormulario.get('nomeUsuario')?.touched &&
          cadastroUsuarioFormulario.get('nomeUsuario')?.value
        "
      >
        minimo de 5 caracteres A-Z
      </small>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-cadastro-usuario">
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <small
        *ngIf="
          cadastroUsuarioFormulario.get('email')?.touched &&
          cadastroUsuarioFormulario.get('email')?.value
        "
      >
        exemplo@email.com
      </small>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-cadastro-usuario">
      <mat-label>Nickname</mat-label>
      <input matInput type="text" formControlName="nickname" />
      <small
        *ngIf="
          cadastroUsuarioFormulario.get('nickname')?.touched &&
          cadastroUsuarioFormulario.get('nickname')?.value
        "
      >
        3 a 20 caracteres
      </small>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="senha" />
      <small
        *ngIf="
          cadastroUsuarioFormulario.get('senha')?.touched &&
          cadastroUsuarioFormulario.get('senha')?.value
        "
      >
        5 a 20 caracteres
      </small>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-cadastro-usuario">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput type="date" formControlName="dataNascimento" />
    </mat-form-field>

    <mat-card-actions>
      <button
        mat-stroked-button
        [disabled]="cadastroUsuarioFormulario.invalid"
        color="primary"
      >
        Cadastro
      </button>
      <button (click)="limpar()" mat-stroked-button color="warn">Limpar</button>
    </mat-card-actions>
  </form>
</mat-card>
