<mat-card class="cadastro-anuncio">
  <form
    action="/submit-form"
    method="post"
    [formGroup]="cadastroAnunciosFormulario"
  >
    <img src="https://via.placeholder.com/150" alt="Foto de perfil" />

    <mat-form-field>
      <mat-label>Titulo do livro</mat-label>
      <input matInput type="text" formControlName="tituloLivro" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Autor</mat-label>
      <input matInput type="text" formControlName="autorLivro" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descreva o livro</mat-label>
      <textarea rows="8" matInput formControlName="descricaoLivro"></textarea>
    </mat-form-field>

    <mat-card-actions>
      <button (click)="cadastrarAnuncio()" mat-stroked-button color="primary">
        Publicar anuncio
      </button>
    </mat-card-actions>
  </form>
</mat-card>
