<mat-card class="card-livro-aberto" *ngIf="anuncio$ | async as anuncio">
  <mat-card-header>
    <mat-card-title>{{ anuncio.nomeLivro }}</mat-card-title>
    <mat-card-subtitle>{{ anuncio.autor.nomeAutor }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://placehold.co/350x350?text=Img+Livro"
    alt="Capa do livro"
  />
  <mat-card-content>
    <p><strong>ISBN:</strong>{{ anuncio.isbn }}</p>
    <p><strong>Categoria:</strong>{{ anuncio.categoria.nomeCategoria }}</p>
    <p><strong>Condição:</strong>{{ anuncio.condicao.nomeCondicao }}</p>
    <p><strong>Descrição:</strong>{{ anuncio.descricao }}</p>
    <p><strong>Anunciante:</strong>{{ anuncio.usuario.nomeUsuario }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="abrirChat()"
      mat-stroked-button
      color="primary"
      mat-button
    >
      Chat
    </button>
  </mat-card-actions>
</mat-card>
