<div class="container"  *ngIf="perfil$ | async as perfil;">
  <h2>Perfil</h2>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ perfil.nomeCompleto }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="perfil">
        <img src="https://via.placeholder.com/150" alt="Foto de perfil" />
        <div class="user-info">
          <p><strong>Nome de usuário:</strong> {{ perfil.nickname }}</p>
          <p><strong>Email:</strong> {{ perfil.email }}</p>
          <p>
            <strong>Tipo de conta:</strong>
            {{ perfil.tipoConta }}
          </p>
          <p><strong>Anúncios postados:</strong> {{ perfil.anunciosPostados }}</p>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>
