<div class="container">
  <mat-card class="chat-card">
    <mat-card-content>
      <div *ngFor="let mensagem of mensagens" class="mensagem-container">
        <div
          [ngClass]="{ sent: mensagem.enviado, received: !mensagem.enviado }"
          class="mensagem"
        >
          {{ mensagem.conteudo }}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-form-field appearance="fill" class="message-input">
        <mat-label>Chat</mat-label>
        <input
          matInput
          formControlName="formularioMensagem"
          placeholder="Escreva uma mensagem"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="enviaMensagem()">
        Enviar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
